* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
  padding: 20px;
  max-width: 1000px;
  margin: 30px auto;
}

nav {
  flex:1;
}

main {
  flex: 3
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  min-height: 70px;
  color: white;
}

header h1 {
  font-family: monospace;
  font-size: 45px;
}